.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    font-family: system-ui;
  }
  
  .header a.bace_title {
    font-size: 25px;
    font-weight: bold;
  }

  .upload_box ul{
    list-style-type: none;
  }
  .upload_file_box {
      margin-top: 50px;
  }
  .upload_box {
      margin: auto;
      box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
      padding: 20px;
      width: 30%;
      border-radius: 15px;
  }
  .upload_buttons li a {
      display: inline-block;
      background-color: indigo;
      color: white;
      padding: 0.5rem;
      font-family: sans-serif;
      border-radius: 0.5rem;
      cursor: pointer;
      margin-right: 15px;
      text-decoration: none;
  }
  .upload_buttons {
      display: flex;
      padding: 0px;
  }
  .upload_butons {
      display: inline-block;
      background-color: indigo;
      color: white;
      padding: 0.5rem;
      font-family: sans-serif;
      border-radius: 0.5rem;
      cursor: pointer;
      margin-right: 15px;
      text-decoration: none;
      border: none;
  }